In [1]:
# %pip install pandas

In [16]:
import pandas as pd

# set file path - 1000 record 
# csv_filePath = ["MOCK_DATA1.csv"
#                , "MOCK_DATA2.csv"
#                , "MOCK_DATA3.csv"
#                , "MOCK_DATA5.csv"]

# Filter MOCK_DATA4.csv - only 600 record ( 30 * 20 )
# Filter MOCK_DATA6.csv - only 280 record ( 14 * 20 )
csv_filePath = ["MOCK_DATA6.csv"]

# change variable 
numberOfRecordPickPerSection = 6

# ttlRecordExist = 1000
ttlRecordExist = 280 # per csv file 
splittingValue = 20 # every section have how many record 

# for calculate how many time need to loop per csv file 
value = ttlRecordExist // splittingValue

# for reading input.csv use 
startRow = 0 # always start at 0 ( dont change )
endRow = splittingValue - 1

# for generate new dataframe ( use for output.csv )
nStartRow = 0 # always start at 0 ( dont change )
nEndRow = numberOfRecordPickPerSection - 1

In [13]:
# function declare for pick randam
def pickRandom(startRow, endRow):
    return df.loc[startRow:endRow].sample(n=numberOfRecordPickPerSection)

In [17]:
# first = True # have header and overwirte file 
first = False

for filePath in csv_filePath:
    df = pd.read_csv(filePath)

    # create new dataframe for holding data and after finish select will be used for generate output.csv file 
    newDf = pd.DataFrame(data=None, columns=df.columns)

    print("\n")
    print(filePath)
    
    # for reading input.csv use 
    startRow = 0 # always start at 0 ( dont change )
    endRow = splittingValue - 1
    
    # for generate new dataframe ( use for output.csv )
    nStartRow = 0 # always start at 0 ( dont change )
    nEndRow = numberOfRecordPickPerSection - 1
    
    # looping for random selecting data 
    for x in range(value):
        
        # use pickRandom() to randomly select and insert to new dataframe
        newDf = newDf._append(pickRandom(startRow=startRow, endRow=endRow))
        
        # print(pickRandom(startRow=startRow, endRow=endRow))
        
        # update value 
        startRow = startRow + 20
        endRow = endRow + 20 
    
        nStartRow = nStartRow + 6
        nEndRow = nEndRow + 6

    print(newDf.count())
    
    # check first time 
    if (first):
        # export dataframe to csv file 
        newDf.to_csv('output1.csv', mode='w', index=False) # mode w = overwrite the file 
        first = False
    else:
        # export dataframe to csv file 
        newDf.to_csv('output1.csv', mode='a', index=False, header=False) # mode a = append the data to existing file

MOCK_DATA6.csv
FlightScheduleID    84
StaffID             84
WorkingHours        84
CheckIn             84
CheckOut            84
dtype: int64

In [18]:
output = pd.read_csv('output1.csv')

output

    FlightScheduleID StaffID  WorkingHours           CheckIn          CheckOut
0             FS0181   S0015             8    2/8/2024 22:56     3/8/2024 6:56
1             FS0181   S0010             2    28/5/2025 3:27    28/5/2025 5:27
2             FS0181   S0014             2    13/9/2024 6:52    13/9/2024 8:52
3             FS0181   S0011             8    25/9/2023 0:53    25/9/2023 8:53
4             FS0181   S0002             5    2/1/2025 11:44    2/1/2025 16:44
..               ...     ...           ...               ...               ...
379           FS0244   S0001             4    7/4/2025 17:29    7/4/2025 21:29
380           FS0244   S0004             4  28/10/2024 16:05  28/10/2024 20:05
381           FS0244   S0014             2    13/3/2025 3:06    13/3/2025 5:06
382           FS0244   S0013             2   6/12/2024 13:06   6/12/2024 15:06
383           FS0244   S0005             8   17/2/2025 15:08   17/2/2025 23:08

[384 rows x 5 columns]

In [19]:
# test getting data 
selectRow = df.loc[0:19] 
# loc [start include : end include]
# iloc [start include : end exclude]

selectRow

   FlightScheduleID StaffID  WorkingHours           CheckIn          CheckOut
0            FS0231   S0001             3    31/8/2025 1:19    31/8/2025 4:19
1            FS0231   S0002             1   10/6/2025 11:30   10/6/2025 12:30
2            FS0231   S0003             1  16/11/2024 18:26  16/11/2024 19:26
3            FS0231   S0004            10     4/5/2024 7:09    4/5/2024 17:09
4            FS0231   S0005             7    13/3/2025 4:42   13/3/2025 11:42
5            FS0231   S0006             2    18/7/2024 5:10    18/7/2024 7:10
6            FS0231   S0007             7   19/9/2023 12:44   19/9/2023 19:44
7            FS0231   S0008             7     8/5/2025 1:53     8/5/2025 8:53
8            FS0231   S0009             9    8/9/2025 12:34    8/9/2025 21:34
9            FS0231   S0010             4    29/3/2024 9:52   29/3/2024 13:52
10           FS0231   S0011             8   12/10/2024 2:52  12/10/2024 10:52
11           FS0231   S0012             9   16/4/2024 21:21    17/4/2024 6:21
12           FS0231   S0013             5  22/12/2025 22:36   23/12/2025 3:36
13           FS0231   S0014             2   19/10/2025 8:16  19/10/2025 10:16
14           FS0231   S0015             5   27/7/2025 21:37    28/7/2025 2:37
15           FS0231   S0016             5   11/6/2025 17:54   11/6/2025 22:54
16           FS0231   S0017            10  30/11/2025 19:27    1/12/2025 5:27
17           FS0231   S0018             1    5/5/2025 11:01    5/5/2025 12:01
18           FS0231   S0019             4  28/11/2024 11:25  28/11/2024 15:25
19           FS0231   S0020             8     3/1/2024 2:38    3/1/2024 10:38